# Question1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [3]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
b()
b()
b()
a

# Explanation OF Program
# As in function b var a is declared global so every time the function C is called using B the old value of global variable if used instead

6

# Question2
Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [4]:
import errno
def fileLength(file):
    try:
        with open(file,"r") as f:
            print(len(f.readlines()))
    except EnvironmentError as err:
        if err.errno == errno.ENOENT:
            print("File "+ file  + " not found.")
        else:
            raise
fileLength('midterm.py')
fileLength("idterm.py")

File midterm.py not found.
File idterm.py not found.

# Question3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [5]:
class Marsupial:
    def __initI__(self):
        self.pouch=[]
    def put_in_pouch(self, item):
        self.pouch.append(item)
    def pouch_contents(self):
        return self.pouch
    
class Kangaroo(Marsupial):
    def __init__(delf, x,y):
        Marsupial._init_(self)
        self.x=x
        self.y=y
    def jump(self, dx, dy):
        self.x+=dx
        self.y+=dy
    def __str__(self):
        return "I am a kangaroo located at coordinates ("+str(self.x)+","+str(self.y)+")"

k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_puch('firetruck')
k.put_in_pouch('kittens')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

AttributeError: type object 'Marsupial' has no attribute '_init_'

# Question4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [15]:
def collatz(i):
    if i == 1:
        print(i)
    elif i % 2 == 0:
        print(i)
        i = i//2
        collatz(i)
    else:
        print(i)
        i = 3*i + 1
        collatz(i)
n = input("Input a number: ")        
collatz(int(n))

Input a number: 11
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

# Question5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [29]:
def binary(n):
    s = str(n % 2)
    
    if n>>1>0:
        s += str(binary(n >> 1))
    print(s)
binary(0)
binary(1)
binary(3)
binary(9)

0
1
1
1None
1
0None
0None
1None

In [ ]:
# Question6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have 
    indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [3]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    headers = ['h1','h2','h3','h4','h5','h6']
    
    def Start(self, tag, attrs):
        if tag in self.headers:
            print(tag)
            
    def End(self, tag):
        if tag in self.headers:
            print(tag)
    
    def Handledata(self, data):
        print(data)
        
parser = HeadingParser()

# Question7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [27]:
url_list = [
    "http://reed.cs.depaul.edu/lperkovic/csc242/test1.html",
    "http://reed.cs.depaul.edu/lperkovic/csc242/test2.html",
    "http://reed.cs.depaul.edu/lperkovic/csc242/test3.html",
    "http://reed.cs.depaul.edu/lperkovic/csc242/test4.html"
]

def webdir(inputURL, depth, indent):
    start_point = url_list.index(inputURL)
    for j in range(depth):
        for i,url in enumerate(url_list[start_point+1:len(url_list)]):
            print("\t" * i + url)


webdir("http://reed.cs.depaul.edu/lperkovic/csc242/test1.html",2,0)

http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
	http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
		http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
	http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
		http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

# Question8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [5]:
%load_ext sql
%sql sqlite://

In [6]:
%%sql
CREATE TABLE Atmosphere
(
    city varchar(50),
    country varchar(50),
    season varchar(50),
    temprature float,
    rainfall float
);

 * sqlite://
Done.

[]

In [8]:
%%sql
INSERT INTO Atmosphere VALUES
('Mumbai','India', 'Winter',24.8,5.9),
('Mumbai','India', 'Spring',28.8,16.2),
('Mumbai','India', 'Summer',27.9,1549.4),
('Mumbai','India', 'Fall',27.6,346.0 ),
('London','United Kingdom','Winter',4.2,207.7 ),
('London','United Kingdom','Spring',8.3,169.6 ),
('London','United Kingdom','Summer', 15.7,157.0),
('London','United Kingdom','Fall', 10.4,218.5),
('Cairo','Egypt','Winter', 13.6,16.5),
('Cairo','Egypt','Spring', 20.7,6.5),
('Cairo','Egypt','Summer',27.7,0.1),
('Cairo','Egypt','Fall', 22.2,4.5)

 * sqlite://
12 rows affected.

[]

In [9]:
%%sql
select temprature from Atmosphere;

 * sqlite://
Done.

[(24.8,),
 (28.8,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [10]:
%%sql
select distinct city from Atmosphere

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [12]:
%%sql
select * from Atmosphere where season =='Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [13]:
%%sql
select * from Atmosphere where country =='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.8, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [15]:
%%sql
select * from Atmosphere where season =='Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [17]:
%%sql
select city, country, season from Atmosphere where rainfall between 200 and 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [18]:
%%sql
select city, country, season from Atmosphere where season =='Fall' and temprature >20 order by temprature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt', 'Fall'), ('Mumbai', 'India', 'Fall')]

In [20]:
%%sql
select sum(rainfall) AS total_annual_rainfall from Atmosphere where city =='Cairo';

 * sqlite://
Done.

[(27.6,)]

In [21]:
%%sql
select season, sum(rainfall) from Atmosphere where city =='Cairo';

 * sqlite://
Done.

[('Winter', 27.6)]

# Question9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [25]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
print([L.upper() for L in words])
print([L.lower() for L in words])
#
print([len(L) for L in words])
#
print([[L.upper(), L.lower(), len(L)] for L in words])
#
print([L for L in words if len(L)>=4])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']